<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageResizer" version="4.2.5" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="XZ.NET-netstandard" version="2.0.0.2" targetFramework="net472" />
</packages>